body{
    background-color: #FAFAFA;
}

.container{
    display : flex;
}

.content{
    position: relative;
    width : 100%;
    margin-left: 20%;
    padding-top:50px;
    padding : 60px;
    padding-bottom: 0px;
}

.content .bagian-atas img{
    width : 27px;
    height : 43px;
}

.content .bagian-atas h1{
    width : 100vh;
    margin-top: -55px;
    margin-left: 7%;
    font-size: 60px;
    font-weight: bold;
    color : #0B3B75;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content .bagian-atas{
    margin-bottom: 30px;
}

.container .content h3{
    font-size: 25px;
    color :#285285;
    margin-bottom: 20px;
}

table tr td img{
    filter: brightness(100%);
    width : 15px;
    transition: 0.3s;
}

table tr td img:hover{
    filter: brightness(120%);
    transform: rotate(20deg);
    /* transform: scale(1.4); */
    transition: 0.5s;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #search-input {
    width: 300px;
    padding: 10px 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #search-input:focus {
    outline: none;
    border-color: #0B3B75;
  }
  
  #search-form button {
    width : 70px;
    margin-left: 5px;
    padding: 10px;
    background-color: #285285;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #search-form button:hover {
    background-color: #0B3B75;
  }
